* {
	darkBG: #0d0d0d;
	lightBG: #262626;
	lightText: #f5f5f5;
	greenBorder: #00ff00;
}

.root {
	-fx-background-color: darkBG;
	-fx-font: 12px "Consolas";
	-fx-text-fill: lightText;
}

.button {
	-fx-font: 13px "Consolas";
	-fx-text-fill: greenBorder;
	-fx-background-color: darkBG;
	-fx-border-color: greenBorder;
}

.button:hover {
	-fx-background-color: #0d1a00;
	-fx-text-fill: lightText;
}

.label {
	-fx-font: 13px "Consolas";
	-fx-text-fill: greenBorder;
}

.text-field {
	-fx-font: 15px "Consolas";
	-fx-text-fill: greenBorder;
	-fx-background-color: darkBG;
	-fx-border-color: greenBorder;
}

.progress-bar .bar {
	-fx-background-color: greenBorder;
}

#title {
	-fx-font: 50px "Constantia";
	-fx-text-fill: lightText;
}