* {
	darkBG: #0d0d0d;
	lightBG: #1a1a1a;
	lightText: #f5f5f5;
	orangeBorder: #ff9800;
}

.root {
	-fx-background-color: darkBG;
	-fx-font: 12px "Constantia";
	-fx-text-fill: lightText;
}

.button {
	-fx-font: 13px "Consolas";
	-fx-text-fill: orangeBorder;
	-fx-background-color: darkBG;
	-fx-border-color: orangeBorder;
}

.button:hover {
	-fx-background-color: #4d2e00;
	-fx-text-fill: lightText;
}

.label {
	-fx-font: 12px "Constantia";
	-fx-text-fill: lightText;
}

.text-area {
	-fx-text-fill: orangeBorder;
	-fx-font: 12px "Consolas";
}


.text-area .content {
	-fx-background-color: lightBG;
}
