* {
	dark: #0d0d0d;
	almostDark:#1a1a1a;
	average: #262626;
	light :#333333;
	extraLight: #404040;
	
	lightText: #d9d9d9;

	_green: #00ff00;
	_red: #ff0000;
	_yellow: #ffff00;
	_orange: #ff751a;
	_blue: #0093ff;
	_superDarkOrange: #331f00;
	_superDarkGreen: #003300;
	_darkGreen: #006600;
	_darkOrange: #4d2e00;
}

.root {
	-fx-background-color: dark;
	-fx-font: 12px "Constantia";
	-fx-text-fill: lightText;
}

.button {
	-fx-font: 20px "Consolas";
	-fx-text-fill: orange;
	-fx-background-color: dark;
	-fx-border-color: orange;
}

.button:hover {
	-fx-background-color: _darkOrange;
	-fx-text-fill: lightText;
}

.label {
	-fx-font: 40px "Constantia";
	-fx-text-fill: lightText;
}

.text-area {
	-fx-text-fill: orange;
	-fx-font: 15px "Consolas";
}


.text-area .content {
	-fx-background-color: almostDark;
}


