
#winLabel {
	-fx-font: 72px "8-BIT FORTRESS";
	-fx-text-fill: _green;
}



#outputTextArea .content {
	-fx-background-color: almostDark;
	-fx-background-radius: 0px;
}

#outputTextArea {
	-fx-font: 17px "8-BIT FORTRESS";
	-fx-text-fill: _green;
	-fx-text-box-border: _darkGreen;
	-fx-background-radius: 0px;
} 

.label {
	-fx-font: 20 "Lucida Console";
	-fx-text-fill: _green;
}

#ratingLabel {
	-fx-font: 40px "8-BIT FORTRESS";
	-fx-text-fill: orange;
}
#rightInCenter {
	-fx-background-color: rgba(0,0,0,0.8);
}


