* {
	dark: #0d0d0d;
	almostDark:#1a1a1a;
	average: #262626;
	light :#333333;
	extraLight: #404040;
	
	lightText: #d9d9d9;

	_green: #10a215;
	_firstGreen:#00ff00;
	_red: #ff0000;
	_yellow: #ffff00;
	_blue: #0093ff;
	_lightBlue: #00b8e6;
	_darkBlue: #001a33;
	_superDarkOrange: #331f00;
	_superDarkGreen: #003300;
	_darkGreen: #006600;
	_darkOrange: #995c00;
	
}



.root {
	-fx-background-color: dark;
	-fx-font: 15px "8-BIT FORTRESS";
	-fx-text-fill: lightText;
}

.button {
	-fx-font: 15px "8-BIT FORTRESS";
	
	-fx-text-fill: _green;
	-fx-background-color: dark;
	-fx-border-color: _green;
}

.button:hover {
	-fx-background-color: average;
}

.button:pressed {
	-fx-text-fill: dark;
	-fx-background-color: _green;
}