.root {
	-fx-background-color: dark;
	-fx-font: 20px "Consolas";
	-fx-text-fill: lightText;
}


#shopToolsTab .tab-label,
#shopWeaponsTab .tab-label, 
#shopArmorTab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: orange;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

#shopTabPane .list-cell {
	-fx-text-fill: orange;
}

#shopTabPane .list-cell:filled:hover {
    -fx-background-color: _blue;
    -fx-text-fill: lightText;
}

#shopTabPane .list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(to right, #cc5200, #ff8000);
    -fx-text-fill: lightText;
}

#buyButtonBox, #itemTabBox, #itemInfoBox {
	-fx-background-color: almostDark;
}

#buy {
	-fx-font: 20px "Consolas";
	-fx-text-fill: orange;
	-fx-background-color: almostDark;
	-fx-border-color: orange;
	-fx-border-width: 2px;
}

#buy:hover {
	-fx-background-color: _superDarkOrange;
	-fx-text-fill: lightText;
}

#buy:pressed {
	-fx-text-fill: dark;
	-fx-background-color: _green;
}

#sell {
	-fx-font: 20px "Consolas";
	-fx-text-fill: _lightBlue;
	-fx-background-color: almostDark;
	-fx-border-color: _lightBlue;
	-fx-border-width: 2px;
}

#sell:hover {
	-fx-background-color: _darkBlue;
	-fx-text-fill: lightText;
}

#sell:pressed {
	-fx-text-fill: dark;
	-fx-background-color: _green;
}

#itemInfoLabel {
	-fx-font: 18px "Consolas";
	-fx-text-fill: _green;
}

#selectedItemInfoLabel {
	-fx-font: 18px "Consolas";
	-fx-text-fill: orange;

}

#buyShopDialoge {
	-fx-font: 15px "Consolas";
	-fx-text-fill: orange;
	-fx-text-box-border: _darkOrange;
	-fx-background-radius: 0px;
} 

#sellShopDialoge {
	-fx-font: 15px "Consolas";
	-fx-text-fill: _green;
	-fx-text-box-border: _darkGreen;
	-fx-background-radius: 0px;
} 

#buyShopDialoge .content,
#sellShopDialoge .content {
	-fx-background-color: almostDark;
	-fx-background-radius: 0px;
}

#buyShopDialoge:focused,
#sellShopDialoge:focused{
	-fx-focus-color: #995c00; 
}


