.root {
	-fx-background-color: dark;
	-fx-font: 20px "Consolas";
	-fx-text-fill: lightText;
}


#shopToolsTab .tab-label,
#shopWeaponsTab .tab-label, 
#shopArmorTab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: orange;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

#shopTabPane .list-cell {
	-fx-text-fill: orange;
}

#shopTabPane .list-cell:filled:hover {
    -fx-background-color: _blue;
    -fx-text-fill: lightText;
}

#shopTabPane .list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(to right, #663d00, #995c00, #ff9900,  #995c00, #663d00);
    -fx-text-fill: lightText;
}

#buyButtonBox, #itemTabBox, #itemInfoBox {
	-fx-background-color: almostDark;
}

#buy {
	-fx-font: 20px "Consolas";
	-fx-text-fill: orange;
	-fx-background-color: almostDark;
	-fx-border-color: orange;
	-fx-border-width: 2px;
}

#buy:hover {
	-fx-background-color: #331f00;
	-fx-text-fill: lightText;
}

#buy:pressed {
	-fx-text-fill: dark;
	-fx-background-color: _green;
}

#itemInfoLabel {
	-fx-font: 20px "Consolas";
	-fx-text-fill: orange;
}
