

.root {
	-fx-background-color: dark;
	-fx-font: 20px "Lucida Console";
	-fx-text-fill: lightText;
}


#shopTextArea {
    -fx-background-color: rgba(0,0,0,0.8);
	-fx-text-fill: orange;
	-fx-font: 15px "Lucida Console";
	-fx-border-color: _green;
}

#shopTextArea .scroll-pane {
    -fx-background-color: transparent;
}

#shopTextArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}

#shopTextArea .scroll-pane .content{
    -fx-background-color: transparent;
}




#shopToolsTab .tab-label,
#shopWeaponsTab .tab-label, 
#shopArmorTab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: orange;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

#shopTabPane .list-cell {
	-fx-text-fill: orange;
}

#shopTabPane .list-cell:filled:hover {
    -fx-background-color: _blue;
    -fx-text-fill: lightText;
}

#shopTabPane .list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(to right, #cc5200, #ff8000);
    -fx-text-fill: lightText;
}

#buyButtonBox, #itemTabBox, #itemInfoBox {
	-fx-background-color: almostDark;
}

#buy {
	-fx-font: 15px "8-BIT FORTRESS";
	-fx-text-fill: orange;
	-fx-background-color: almostDark;
	-fx-border-color: orange;
}

#buy:hover {
	-fx-background-color: _superDarkOrange;
	-fx-text-fill: lightText;
}

#buy:pressed {
	-fx-text-fill: dark;
	-fx-background-color: _green;
}

#sell {
	-fx-font: 15px "8-BIT FORTRESS";
	-fx-text-fill: _lightBlue;
	-fx-background-color: almostDark;
	-fx-border-color: _lightBlue;
}

#sell:hover {
	-fx-background-color: _darkBlue;
	-fx-text-fill: lightText;
}

#sell:pressed {
	-fx-text-fill: dark;
	-fx-background-color: _green;
}

#itemInfoLabel {
	-fx-font: 18px "Lucida Console";
	-fx-text-fill: orange;
}

#selectedItemInfoLabel {
	-fx-font: 18px "Lucida Console";
	-fx-text-fill: orange;

}




